html,body{
    margin:0;
    height: 100%;
}
canvas{
    display:block;
}
.center_middle {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin:auto;
}
.box {
    width: 500px;
    height: 300px;
    background: #d5d4d426;
    border-radius: 8px;
    bottom: 50px;
}
form {
    width: 400px;
    height: 240px;
}
label {
    color: #666;
}
.loginForm {
    
}
.registerForm {
    display: none;
}